@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Armata&display=swap');
*{
  font-family: 'Montserrat', sans-serif;
}
* ul{
  padding: 0;
}
label{
  color: white;
}
body::-webkit-scrollbar {
  display: none;
}
.App {
  text-align: center;
}

.App-logo {
  height: 10vh;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
header{
  position: fixed;
  width: 100%;
  top:0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  min-height: 10vh;
  z-index: 10;
}
* a{
  text-decoration: none;
  color: white;
  text-transform:uppercase;
  font-weight: 400;
  font-size: 1.7rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1{
  font-size: 3rem;
        color: white ;
        text-transform: uppercase;
}

.about{
  min-height: 115vh;
        height: fit-content;
        background-color: #073B3A ;
        list-style: none;
        padding: 0;
        display: flex;
        align-items: center;
}

.about dir{
  max-width: 1200px;
        text-align: center;
        margin: 3rem auto;
}
.about dir h3, .about dir p {
  color: white;
  font-size: 1.4rem;
  font-weight: 600;
}
.about dir ul div h3{
  font-weight: 700;
  font-size: 2rem;
}
.about ul{
  display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 4rem auto;
        list-style: none;
        gap: 60px;
}

.about ul div{
  height: 300px;
        padding: 1rem;
        border: 3px solid rgb(255, 255, 255);
        border-radius: 20px;
}

.about ul div h3{
  font-size: 2rem;
        text-transform: uppercase;
}

div#contact {
  background-color: #01161E;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  /* scroll-snap-align: end!important; */
  padding-top: 70px;
  
}

div#contact {
  background-color: #01161E;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#contact h1, #contact p{
  margin: 0;
  text-align: center;
}

#contact form {
  height: 50%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}

form input {
  width: 100%;
  min-height: 30px;
  height: 5.956vw;
  border: none;
  background-color: white;
  opacity: 65%;
  margin: 15px 0;
  padding: 5px;
}

textarea {
  border: none;
  background-color: white;
  opacity: 65%;
  margin: 15px 0;
  min-height: 90px;
  padding: 5px;
}
form button{
  background-color: #59CD90;
  width: 40%;
  height: 5.956vw;
  border: none;
  color: white;
  margin: auto;
  min-height: 40px;
}

#slider {
  position: relative;
  width: 100%; /* Puedes ajustar a un ancho específico si prefieres */
  max-width: 600px; /* Define un límite de ancho para el carrusel */
  margin: 0 auto;
  overflow: hidden; /* Oculta las imágenes que no están en foco */
}

#slider ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  transition: transform 0.5s ease-in-out;
}

#slider li {
  width: 100%; /* Asegura que cada slide ocupe el ancho completo del slider */
  min-width: 100%;
  box-sizing: border-box;
}

#slider img {
  width: 100%; /* Las imágenes deben ocupar todo el ancho del li */
  display: block;
}

.control_prev,
.control_next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  text-decoration: none;
  color: black;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0.5rem;
  cursor: pointer;
}

.control_prev {
  left: 10px;
}

.control_next {
  right: 10px;
}


.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}
div#work {
  height: 100vh;
  background-color: #E13D71;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}