@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Armata&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

html,
body {
    width: 100%;
    height: 100%;
}
.error{
    color: red;
}
.success{
    color: green;
}
.container{
    text-align: center;
    margin-bottom: 2.5vw;
}
form>div.show>p{
    width: 100%;
}
body > header > div > img{
    filter: invert();
}

div.main h1 b {
    color: #ff436c;
}

/* slider */
#slider {
    position: relative;
    overflow: hidden;
    margin: 20px auto 0 auto;
    border-radius: 4px;
    width: 500px;
  }
  
  #slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 200px;
    list-style: none;
  }
  
  #slider ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    border-radius: 20px;
    width: 500px;
    height: 270px;
    background: #ccc;
    text-align: center;
    line-height: 300px;
  }
  #slider ul li a img{
    position: absolute;
    border-radius: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%; /* Asegura que la imagen llene el ancho del contenedor */
        height: 100%; /* Mantiene la proporción de la imagen */
        max-height: 100%; 
  }
  
  a.control_prev, a.control_next {
    position: absolute;
    top: 40%;
    z-index: 999;
    display: block;
    padding: 4% 3%;
    width: auto;
    height: auto;
    background: #2a2a2a;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity: 0.8;
    cursor: pointer;
  }
  
  a.control_prev:hover, a.control_next:hover {
    opacity: 1;
    -webkit-transition: all 0.2s ease;
  }
  
  a.control_prev {
    border-radius: 0 2px 2px 0;
  }
  
  a.control_next {
    right: 0;
    border-radius: 2px 0 0 2px;
  }
  
  .slider_option {
    position: relative;
    margin: 10px auto;
    width: 160px;
    font-size: 18px;
  }

@media screen and (min-width:600px) {
    header {
        height: 5.353vw;
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        position: absolute;
        align-items: center;
        font-size: 1.838vw;
        color: white;
        font-family: 'Armata', sans-serif;
        z-index: 20;
    }
    header>div{
        width: 100%;
        justify-content: flex-start!important;
        height: 100%;
        position: absolute;
    }

    header a {
        color: white;
        text-decoration: none;
        z-index: 20;
        height: 100%;
    }

    header div {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    header img {
        width: auto;
        height: 100%;
        margin: 0 1.618vw;
    }

    header ol {
        list-style: none;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        z-index: 20;
    }

    header ol li {
        height: 100%;
        display: flex;
        align-items: center;
    }
    header ol li > img, header ol li a >img{
        height: 70%;
        filter: invert(1);
    }
    header ol li a{
        height: 100%;
        display: flex;
        align-items: center;
    }
  

    div.main {
        width: 100%;
        height: 100vh;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        scroll-snap-align: start;
    }

    div.main h1 {
        font-size: 3rem;
        font-weight: black;
        text-transform: uppercase;
    }

    

    #about > div{
        width: 1100px;
        margin: auto;
    }

    div.main p {
        font-size: 1.5rem;
        font-weight: 600;
        width: 100%;
        margin-top: 1rem;
    }

    div#about {
        background-color: #62BBC1;
    }

    div#work {
        background-color: #E13D71;
        display: flex;
        align-items: center;
        justify-content: center;
    }



    


    div#contact {
        background-color: #01161E;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    #contact form {
        height: 50%;
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
    }

    form input {
        width: 100%;
        min-height: 30px;
        height: 5.956vw;
        border: none;
        background-color: white;
        opacity: 65%;
        margin: 15px 0;
        padding: 5px;
    }

    textarea {
        border: none;
        background-color: white;
        opacity: 65%;
        margin: 15px 0;
        min-height: 90px;
        padding: 5px;
    }
    form button{
        background-color: #59CD90;
        width: 40%;
        height: 5.956vw;
        border: none;
        color: white;
        margin: auto;
        min-height: 40px;
    }
    div.main#agitate{
        min-height: 115vh;
        height: fit-content;
        background-color: #DBD56E ;
        list-style: none;
        padding: 0;
    }
    div.main#agitate section{
        margin: auto;
        text-align: center;
    }
    div.main#agitate section:nth-child(2){
        max-width: 1200px;
        margin:auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #agit-data ol{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        text-align: center;
        list-style: none;
        justify-content: space-between;
        margin: 3rem 0;
    }
    #agit-data ol li{
        width: 30%;
    }
    #agit-data ol li h4{
        font-size: x-large;
        font-weight: 700;
        text-transform: uppercase;
    }
    #agit-data ol li p{
        font-size: large;
    }
    #solution{
        min-height: 115vh;
        height: fit-content;
        background-color: #073B3A ;
        list-style: none;
        padding: 0;
        display: flex;
        align-items: center;
        
    }
    #solution section{
        max-width: 1200px;
        text-align: center;
        margin: 3rem auto;
    }
    #solution>section>ol{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 4rem auto;
        list-style: none;
        gap: 60px;
    }
    #solution>section>ol>li{
        height: 300px;
        padding: 1rem;
        border: 3px solid rgb(255, 255, 255);
        border-radius: 20px;

    }
    #solution>section>ol>li>h4{
        font-size: 2rem;
        text-transform: uppercase;
    }

    
    

}
@media screen and (max-width:600px) {
    
    header {
        height: 7.353vw;
        width: 100vw;
        display: flex;
        flex-direction: row-reverse;
        position: absolute;
        align-items: center;
        font-size: 3vw;
        color: white;
        font-family: 'Armata', sans-serif;
        margin-top: 3vw;
        z-index: 20;
    }

    header a {
        color: white;
        text-decoration: none;
    }

    header div {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    header img {
        width: auto;
        height: 10vw;
        filter: invert(1);
    }

    header ol {
        list-style: none;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: auto;
    }

    header ol li a {
        width: 100%;
    }
    body > header > ol > li:nth-child(1) > img{
        filter: invert(1);
    }

    div.main {
        width: 100vw;
        height: 100vh;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        /* scroll-snap-align: start end; */
        scroll-padding: 0;
        /* scroll-snap-stop: always; */

    }
    
    div.main h1 {
        font-size: 11vw;
        font-weight: black;
        margin-left: 5vw;
    }

    div.main p {
        font-size: 5vw;
        font-weight: 600;
        width: 90vw;
        margin-left: 5vw;
        margin-top: 1rem;

    }

    div#about {
        background-color: #62BBC1;
    }

    div#work {
        background-color: #E13D71;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    div#contact.main {
        background-color: #01161E;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100vh;
        /* scroll-snap-align: end!important; */
        padding-top: 70px;
        
    }
    #contact h1, #contact p{
        margin: 0;
        width: 100%;
        text-align: center;
    }

    #contact form {
        height: 50%;
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
    }

    form input {
        width: 100%;
        min-height: 40px;
        height: 12vw ;
    }

    textarea {
        width: 100%;
    min-height: 100px;
    border: none;
    background-color: white;
    opacity: 65%;
    padding: 5px;
    }
    input, textarea{
        border: none;
        background-color: white;
        opacity: 65%;
        margin: 15px 0;
        padding: 5px;
    }
    form button{
        background-color: #59CD90;
        width: 50%;
        height: 12vw;
        min-height: 40px;
        border: none;
        align-self: center;
        color: white;
        font-size: large;
        font-weight: 600;
    }
    .prev, .next{
        font-size: 50px!important;
        color: black!important;
    }

    div.main#agitate{
        min-height: 115vh;
        height: fit-content;
        background-color: #DBD56E ;
        list-style: none;
        padding: 0;
    }
    div.main#agitate p{
        font-size: 1.3rem;
        margin: auto;
    }
    div.main#agitate h1{
        margin: 3rem 0;
        text-transform: uppercase;
        font-size: 2rem;
    }
    div.main#agitate section{
        margin: auto;
        text-align: center;
    }
    div.main#agitate section:nth-child(2){
        max-width: 300px;
        margin:auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #agit-data ol{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        text-align: center;
        list-style: none;
        justify-content: space-between;
        margin: 3rem 0;
    }
    #agit-data ol li{
        width: 100%;
    }
    #agit-data ol li h4{
        font-size: xx-large;
        font-weight: 700;
        text-transform: uppercase;
    }
    #agit-data ol li p{
        font-size: large;
        width: auto;
    }
    #solution{
        min-height: 115vh;
        height: fit-content;
        background-color: #073B3A ;
        list-style: none;
        padding: 0;
        display: flex;
        align-items: center;
        
    }
    #solution h1{
        margin: 0;
    }
    #solution section{
        max-width: 300px;
        text-align: center;
        margin: 3rem auto;
    }
    #solution>section>ol{
        display: flex;
        flex-direction: column;
        margin: 4rem auto;
        list-style: none;
        gap: 60px;
    }
    #solution>section>ol>li{
        height: 300px;
        padding: 1rem;
        border: 3px solid rgb(255, 255, 255);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

    }
    #solution>section>ol>li>p{
        width: auto;
        margin: 0;
    }
    #solution>section>ol>li>h4{
        font-size: 2rem;
        text-transform: uppercase;
    }

    /* slider */
#slider {
    position: relative;
    overflow: hidden;
    margin: 20px auto 0 auto;
    border-radius: 4px;
    width: 500px;
  }
  
  #slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 200px;
    list-style: none;
  }
  
  #slider ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    border-radius: 20px;
    width: 500px;
    height: 270px;
    background: #ccc;
    text-align: center;
    line-height: 300px;
  }
  #slider ul li a img{
    position: absolute;
    border-radius: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%; /* Asegura que la imagen llene el ancho del contenedor */
        height: 100%; /* Mantiene la proporción de la imagen */
        max-height: 100%; 
  }
  
  a.control_prev, a.control_next {
    position: absolute;
    top: 40%;
    z-index: 999;
    display: block;
    padding: 4% 3%;
    width: auto;
    height: auto;
    background: #2a2a2a;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity: 0.8;
    cursor: pointer;
  }
  
  a.control_prev:hover, a.control_next:hover {
    opacity: 1;
    -webkit-transition: all 0.2s ease;
  }
  
  a.control_prev {
    border-radius: 0 2px 2px 0;
  }
  
  a.control_next {
    right: 0;
    border-radius: 2px 0 0 2px;
  }
  
  .slider_option {
    position: relative;
    margin: 10px auto;
    width: 160px;
    font-size: 18px;
  }

}
